# Projeto Análise de dados da Covid 19 no estado de São Paulo

Este projeto visa analisar os dados dos casos de covid-19 no estado de São Paulo do período de fevereiro de 2020 a setembro de 2021.

Dados disponíveis em: <br>
- https://coronavirus.seade.gov.br <br>
- https://github.com/seade-R/dados-covid-sp/tree/master

## **Importação dos Dados**

In [1]:
import numpy as np
import pandas as pd

In [2]:
covid_sp = pd.read_csv('./dataset/dados_covid_sp.csv', sep=';', encoding='utf-8')

In [3]:
covid_sp.head()

,nome_munic,codigo_ibge,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,nome_drs,cod_drs,pop,pop_60,area,map_leg,map_leg_s,latitude,longitude,semana_epidem
0,Adamantina,3500105,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Marília,5,33894,7398,41199,0,8.0,"-21,6820","-51,0737",9
1,Adolfo,3500204,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,15,3447,761,21106,0,8.0,"-21,2325","-49,6451",9
2,Aguaí,3500303,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São João da Boa Vista,14,35608,5245,47455,0,8.0,"-22,0572","-46,9735",9
3,Águas da Prata,3500402,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São João da Boa Vista,14,7797,1729,14267,0,8.0,"-21,9319","-46,7176",9
4,Águas de Lindóia,3500501,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Campinas,3,18374,3275,6013,0,8.0,"-22,4733","-46,6314",9

In [4]:
covid_sp.shape

(374034, 26)

## **Tratamento dos Dados**

### Renomeando variáveis (col)

In [5]:
covid_sp.head(5)

,nome_munic,codigo_ibge,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,nome_drs,cod_drs,pop,pop_60,area,map_leg,map_leg_s,latitude,longitude,semana_epidem
0,Adamantina,3500105,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Marília,5,33894,7398,41199,0,8.0,"-21,6820","-51,0737",9
1,Adolfo,3500204,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,15,3447,761,21106,0,8.0,"-21,2325","-49,6451",9
2,Aguaí,3500303,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São João da Boa Vista,14,35608,5245,47455,0,8.0,"-22,0572","-46,9735",9
3,Águas da Prata,3500402,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São João da Boa Vista,14,7797,1729,14267,0,8.0,"-21,9319","-46,7176",9
4,Águas de Lindóia,3500501,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Campinas,3,18374,3275,6013,0,8.0,"-22,4733","-46,6314",9

In [6]:
covid_sp = covid_sp.rename(columns={'nome_munic' : 'municipio'})

In [7]:
covid_sp.rename(columns={'datahora' : 'data'}, inplace=True)

In [8]:
covid_sp.rename(columns={'map_leg':'rotulo_mapa', 'map_leg_s': 'codigo_mapa'}, inplace=True)

In [9]:
covid_sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374034 entries, 0 to 374033
Data columns (total 26 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   municipio      374034 non-null  object
 1   codigo_ibge    374034 non-null  int64
 2   dia            374034 non-null  int64
 3   mes            374034 non-null  int64
 4   data           374034 non-null  object
 5   casos          374034 non-null  int64
 6   casos_novos    374034 non-null  int64
 7   casos_pc       374034 non-null  object
 8   casos_mm7d     374034 non-null  object
 9   obitos         374034 non-null  int64
 10  obitos_novos   374034 non-null  int64
 11  obitos_pc      374034 non-null  object
 12  obitos_mm7d    374034 non-null  object
 13  letalidade     374034 non-null  object
 14  nome_ra        373455 non-null  object
 15  cod_ra         374034 non-null  int64
 16  nome_drs       373455 non-null  object
 17  cod_drs        374034 non-null  int64
 18  pop            374034 non-null  int64
 19  pop_60         374034 non-null  int64
 20  area           374034 non-null  int64
 21  rotulo_mapa    373455 non-null  object
 22  codigo_mapa    373455 non-null  float64
 23  latitude       374034 non-null  object
 24  longitude      374034 non-null  object
 25  semana_epidem  374034 non-null  int64
dtypes: float64(1), int64(13), object(12)
memory usage: 74.2+ MB

In [10]:
covid_sp['area']

0         41199
1         21106
2         47455
3         14267
4          6013
          ...
374029        0
374030        0
374031        0
374032        0
374033        0
Name: area, Length: 374034, dtype: int64

### Excluindo variáveis (col)

In [11]:
covid_sp_alterado = covid_sp.drop(columns=['cod_ra'])

In [12]:
#Excluindo por nmr

covid_sp_alterado.drop(covid_sp_alterado.columns[[1]],axis=1,inplace=True)

In [13]:
covid_sp_alterado.drop(columns=['rotulo_mapa', 'codigo_mapa', 'cod_drs'], inplace=True)

In [14]:
covid_sp_alterado.head(2)

,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,...,obitos_mm7d,letalidade,nome_ra,nome_drs,pop,pop_60,area,latitude,longitude,semana_epidem
0,Adamantina,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,...,"0,000000000000000","0,000000000000000000",RA de Presidente Prudente,Marília,33894,7398,41199,"-21,6820","-51,0737",9
1,Adolfo,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,...,"0,000000000000000","0,000000000000000000",RA de São José do Rio Preto,São José do Rio Preto,3447,761,21106,"-21,2325","-49,6451",9

In [15]:
covid_sp_alterado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374034 entries, 0 to 374033
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   municipio      374034 non-null  object
 1   dia            374034 non-null  int64
 2   mes            374034 non-null  int64
 3   data           374034 non-null  object
 4   casos          374034 non-null  int64
 5   casos_novos    374034 non-null  int64
 6   casos_pc       374034 non-null  object
 7   casos_mm7d     374034 non-null  object
 8   obitos         374034 non-null  int64
 9   obitos_novos   374034 non-null  int64
 10  obitos_pc      374034 non-null  object
 11  obitos_mm7d    374034 non-null  object
 12  letalidade     374034 non-null  object
 13  nome_ra        373455 non-null  object
 14  nome_drs       373455 non-null  object
 15  pop            374034 non-null  int64
 16  pop_60         374034 non-null  int64
 17  area           374034 non-null  int64
 18  latitude       374034 non-null  object
 19  longitude      374034 non-null  object
 20  semana_epidem  374034 non-null  int64
dtypes: int64(10), object(11)
memory usage: 59.9+ MB

In [16]:
covid_sp_alterado.drop(covid_sp_alterado.columns[[13,14,18,19]], axis=1, inplace=True)
#nome_ra
#nome_drs
#latitude e longitude

In [17]:
covid_sp_alterado.shape

(374034, 17)

### Criando e Alterando valores

In [18]:
covid_sp_alterado.head(3)

,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem
0,Adamantina,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",33894,7398,41199,9
1,Adolfo,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",3447,761,21106,9
2,Aguaí,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",35608,5245,47455,9

In [19]:
# Passando área para km²

covid_sp_alterado['area'] = covid_sp_alterado['area']/100
#ou
# covid_sp_alterado['area'] = covid_sp_alterado.area/100

In [20]:
# Criação de coluna com a densidade demográfica (hab/km²)
covid_sp_alterado['densidade_demo'] = covid_sp_alterado['pop'] / covid_sp_alterado['area']

In [21]:
covid_sp_alterado.shape

(374034, 18)

In [22]:
# Criação de coluna com índices
# 374034 + 1
lista = list(range(1,374034+1))
print(lista[0])
print(lista[-1])

1
374034

In [23]:
df = pd.DataFrame(lista,columns=['indice'])
df

        indice
0            1
1            2
2            3
3            4
4            5
...        ...
374029  374030
374030  374031
374031  374032
374032  374033
374033  374034

[374034 rows x 1 columns]

In [24]:
# Juntando os DataFrames

covid_sp_alterado = pd.concat([covid_sp_alterado, df], axis=1)
covid_sp_alterado

,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo,indice
0,Adamantina,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",33894,7398,411.99,9,82.268987,1
1,Adolfo,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",3447,761,211.06,9,16.331849,2
2,Aguaí,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",35608,5245,474.55,9,75.035297,3
3,Águas da Prata,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",7797,1729,142.67,9,54.650592,4
4,Águas de Lindóia,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",18374,3275,60.13,9,305.571262,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374029,Ignorado,21,9,2021-09-21,1956,-477,"0,00000000000000e+00","-931,428571428571445",7,-1,"0,00000000000000e+00","-0,285714285714286","0,003578732106339468",0,0,0.00,38,NaN,374030
374030,Ignorado,22,9,2021-09-22,1414,-542,"0,00000000000000e+00","-1038,714285714285779",7,0,"0,00000000000000e+00","-0,571428571428571","0,004950495049504951",0,0,0.00,38,NaN,374031
374031,Ignorado,23,9,2021-09-23,962,-452,"0,00000000000000e+00","-348,000000000000000",6,-1,"0,00000000000000e+00","-1,714285714285714","0,006237006237006237",0,0,0.00,38,NaN,374032
374032,Ignorado,24,9,2021-09-24,557,-405,"0,00000000000000e+00","-774,428571428571445",1,-5,"0,00000000000000e+00","-2,428571428571428","0,001795332136445242",0,0,0.00,38,NaN,374033
374033,Ignorado,25,9,2021-09-25,128,-429,"0,00000000000000e+00","-472,142857142857167",0,-1,"0,00000000000000e+00","-2,857142857142857","0,000000000000000000",0,0,0.00,38,NaN,374034

### Counter e seleção por indices

In [25]:
covid_sp_alterado = covid_sp_alterado.reindex(columns=['indice'] + list(covid_sp_alterado.columns[:-1]))
covid_sp_alterado

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
0,1,Adamantina,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",33894,7398,411.99,9,82.268987
1,2,Adolfo,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",3447,761,211.06,9,16.331849
2,3,Aguaí,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",35608,5245,474.55,9,75.035297
3,4,Águas da Prata,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",7797,1729,142.67,9,54.650592
4,5,Águas de Lindóia,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",18374,3275,60.13,9,305.571262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374029,374030,Ignorado,21,9,2021-09-21,1956,-477,"0,00000000000000e+00","-931,428571428571445",7,-1,"0,00000000000000e+00","-0,285714285714286","0,003578732106339468",0,0,0.00,38,NaN
374030,374031,Ignorado,22,9,2021-09-22,1414,-542,"0,00000000000000e+00","-1038,714285714285779",7,0,"0,00000000000000e+00","-0,571428571428571","0,004950495049504951",0,0,0.00,38,NaN
374031,374032,Ignorado,23,9,2021-09-23,962,-452,"0,00000000000000e+00","-348,000000000000000",6,-1,"0,00000000000000e+00","-1,714285714285714","0,006237006237006237",0,0,0.00,38,NaN
374032,374033,Ignorado,24,9,2021-09-24,557,-405,"0,00000000000000e+00","-774,428571428571445",1,-5,"0,00000000000000e+00","-2,428571428571428","0,001795332136445242",0,0,0.00,38,NaN
374033,374034,Ignorado,25,9,2021-09-25,128,-429,"0,00000000000000e+00","-472,142857142857167",0,-1,"0,00000000000000e+00","-2,857142857142857","0,000000000000000000",0,0,0.00,38,NaN

In [26]:
covid_sp_alterado['semana_epidem'].value_counts()

semana_epidem
10    9044
12    9044
11    9044
13    9044
14    9044
22    9044
15    9044
16    9044
17    9044
18    9044
19    9044
20    9044
21    9044
26    9044
23    9044
24    9044
25    9044
28    9044
27    9044
29    9044
30    9044
38    9044
31    9044
32    9044
33    9044
34    9044
35    9044
36    9044
37    9044
9     7752
39    4522
40    4522
41    4522
42    4522
43    4522
44    4522
45    4522
46    4522
47    4522
48    4522
49    4522
50    4522
51    4522
52    4522
53    4522
1     4522
2     4522
3     4522
4     4522
5     4522
6     4522
7     4522
8     4522
Name: count, dtype: int64

In [27]:
covid_sp_alterado['semana_epidem'].value_counts().sort_index()

semana_epidem
1     4522
2     4522
3     4522
4     4522
5     4522
6     4522
7     4522
8     4522
9     7752
10    9044
11    9044
12    9044
13    9044
14    9044
15    9044
16    9044
17    9044
18    9044
19    9044
20    9044
21    9044
22    9044
23    9044
24    9044
25    9044
26    9044
27    9044
28    9044
29    9044
30    9044
31    9044
32    9044
33    9044
34    9044
35    9044
36    9044
37    9044
38    9044
39    4522
40    4522
41    4522
42    4522
43    4522
44    4522
45    4522
46    4522
47    4522
48    4522
49    4522
50    4522
51    4522
52    4522
53    4522
Name: count, dtype: int64

In [28]:
from collections import Counter

In [29]:
Counter(covid_sp_alterado.semana_epidem)

Counter({10: 9044,
         11: 9044,
         12: 9044,
         13: 9044,
         14: 9044,
         15: 9044,
         16: 9044,
         17: 9044,
         18: 9044,
         19: 9044,
         20: 9044,
         21: 9044,
         22: 9044,
         23: 9044,
         24: 9044,
         25: 9044,
         26: 9044,
         27: 9044,
         28: 9044,
         29: 9044,
         30: 9044,
         31: 9044,
         32: 9044,
         33: 9044,
         34: 9044,
         35: 9044,
         36: 9044,
         37: 9044,
         38: 9044,
         9: 7752,
         39: 4522,
         40: 4522,
         41: 4522,
         42: 4522,
         43: 4522,
         44: 4522,
         45: 4522,
         46: 4522,
         47: 4522,
         48: 4522,
         49: 4522,
         50: 4522,
         51: 4522,
         52: 4522,
         53: 4522,
         1: 4522,
         2: 4522,
         3: 4522,
         4: 4522,
         5: 4522,
         6: 4522,
         7: 4522,
         8: 4522})

In [30]:
covid_sp_alterado.query('obitos_novos > 100')['municipio'].value_counts()

municipio
São Paulo    139
Name: count, dtype: int64

#### Variaveis por índices

In [31]:
covid_sp_alterado.head(1)

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
0,1,Adamantina,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",33894,7398,411.99,9,82.268987

In [32]:
x = covid_sp_alterado.iloc[: , 5:13 ]
x

,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d
0,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
1,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
4,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
...,...,...,...,...,...,...,...,...
374029,1956,-477,"0,00000000000000e+00","-931,428571428571445",7,-1,"0,00000000000000e+00","-0,285714285714286"
374030,1414,-542,"0,00000000000000e+00","-1038,714285714285779",7,0,"0,00000000000000e+00","-0,571428571428571"
374031,962,-452,"0,00000000000000e+00","-348,000000000000000",6,-1,"0,00000000000000e+00","-1,714285714285714"
374032,557,-405,"0,00000000000000e+00","-774,428571428571445",1,-5,"0,00000000000000e+00","-2,428571428571428"
374033,128,-429,"0,00000000000000e+00","-472,142857142857167",0,-1,"0,00000000000000e+00","-2,857142857142857"

In [33]:
type(x)

pandas.core.frame.DataFrame

In [34]:
y = covid_sp_alterado.iloc[:,1].values

In [35]:
y

array(['Adamantina', 'Adolfo', 'Aguaí', ..., 'Ignorado', 'Ignorado',
       'Ignorado'], shape=(374034,), dtype=object)

In [36]:
lista_y = list(y.flatten())
lista_y

['Adamantina',
 'Adolfo',
 'Aguaí',
 'Águas da Prata',
 'Águas de Lindóia',
 'Águas de Santa Bárbara',
 'Águas de São Pedro',
 'Agudos',
 'Alambari',
 'Alfredo Marcondes',
 'Altair',
 'Altinópolis',
 'Alto Alegre',
 'Alumínio',
 'Álvares Florence',
 'Álvares Machado',
 'Álvaro de Carvalho',
 'Alvinlândia',
 'Americana',
 'Américo Brasiliense',
 'Américo de Campos',
 'Amparo',
 'Analândia',
 'Andradina',
 'Angatuba',
 'Anhembi',
 'Anhumas',
 'Aparecida',
 "Aparecida d'Oeste",
 'Apiaí',
 'Araçariguama',
 'Araçatuba',
 'Araçoiaba da Serra',
 'Aramina',
 'Arandu',
 'Arapeí',
 'Araraquara',
 'Araras',
 'Arco-Íris',
 'Arealva',
 'Areias',
 'Areiópolis',
 'Ariranha',
 'Artur Nogueira',
 'Arujá',
 'Aspásia',
 'Assis',
 'Atibaia',
 'Auriflama',
 'Avaí',
 'Avanhandava',
 'Avaré',
 'Bady Bassitt',
 'Balbinos',
 'Bálsamo',
 'Bananal',
 'Barão de Antonina',
 'Barbosa',
 'Bariri',
 'Barra Bonita',
 'Barra do Chapéu',
 'Barra do Turvo',
 'Barretos',
 'Barrinha',
 'Barueri',
 'Bastos',
 'Batatais',
 'Bauru',
 'Bebedouro',
 'Bento de Abreu',
 'Bernardino de Campos',
 'Bertioga',
 'Bilac',
 'Birigui',
 'Biritiba Mirim',
 'Boa Esperança do Sul',
 'Bocaina',
 'Bofete',
 'Boituva',
 'Bom Jesus dos Perdões',
 'Bom Sucesso de Itararé',
 'Borá',
 'Boracéia',
 'Borborema',
 'Borebi',
 'Botucatu',
 'Bragança Paulista',
 'Braúna',
 'Brejo Alegre',
 'Brodowski',
 'Brotas',
 'Buri',
 'Buritama',
 'Buritizal',
 'Cabrália Paulista',
 'Cabreúva',
 'Caçapava',
 'Cachoeira Paulista',
 'Caconde',
 'Cafelândia',
 'Caiabu',
 'Caieiras',
 'Caiuá',
 'Cajamar',
 'Cajati',
 'Cajobi',
 'Cajuru',
 'Campina do Monte Alegre',
 'Campinas',
 'Campo Limpo Paulista',
 'Campos do Jordão',
 'Campos Novos Paulista',
 'Cananéia',
 'Canas',
 'Cândido Mota',
 'Cândido Rodrigues',
 'Canitar',
 'Capão Bonito',
 'Capela do Alto',
 'Capivari',
 'Caraguatatuba',
 'Carapicuíba',
 'Cardoso',
 'Casa Branca',
 'Cássia dos Coqueiros',
 'Castilho',
 'Catanduva',
 'Catiguá',
 'Cedral',
 'Cerqueira César',
 'Cerquilho',
 'Cesário Lange',
 'Charqueada',
 'Clementina',
 'Colina',
 'Colômbia',
 'Conchal',
 'Conchas',
 'Cordeirópolis',
 'Coroados',
 'Coronel Macedo',
 'Corumbataí',
 'Cosmópolis',
 'Cosmorama',
 'Cotia',
 'Cravinhos',
 'Cristais Paulista',
 'Cruzália',
 'Cruzeiro',
 'Cubatão',
 'Cunha',
 'Descalvado',
 'Diadema',
 'Dirce Reis',
 'Divinolândia',
 'Dobrada',
 'Dois Córregos',
 'Dolcinópolis',
 'Dourado',
 'Dracena',
 'Duartina',
 'Dumont',
 'Echaporã',
 'Eldorado',
 'Elias Fausto',
 'Elisiário',
 'Embaúba',
 'Embu das Artes',
 'Embu-Guaçu',
 'Emilianópolis',
 'Engenheiro Coelho',
 'Espírito Santo do Pinhal',
 'Espírito Santo do Turvo',
 "Estrela d'Oeste",
 'Estrela do Norte',
 'Euclides da Cunha Paulista',
 'Fartura',
 'Fernandópolis',
 'Fernando Prestes',
 'Fernão',
 'Ferraz de Vasconcelos',
 'Flora Rica',
 'Floreal',
 'Flórida Paulista',
 'Florínea',
 'Franca',
 'Francisco Morato',
 'Franco da Rocha',
 'Gabriel Monteiro',
 'Gália',
 'Garça',
 'Gastão Vidigal',
 'Gavião Peixoto',
 'General Salgado',
 'Getulina',
 'Glicério',
 'Guaiçara',
 'Guaimbê',
 'Guaíra',
 'Guapiaçu',
 'Guapiara',
 'Guará',
 'Guaraçaí',
 'Guaraci',
 "Guarani d'Oeste",
 'Guarantã',
 'Guararapes',
 'Guararema',
 'Guaratinguetá',
 'Guareí',
 'Guariba',
 'Guarujá',
 'Guarulhos',
 'Guatapará',
 'Guzolândia',
 'Herculândia',
 'Holambra',
 'Hortolândia',
 'Iacanga',
 'Iacri',
 'Iaras',
 'Ibaté',
 'Ibirá',
 'Ibirarema',
 'Ibitinga',
 'Ibiúna',
 'Icém',
 'Iepê',
 'Igaraçu do Tietê',
 'Igarapava',
 'Igaratá',
 'Iguape',
 'Ilhabela',
 'Ilha Comprida',
 'Ilha Solteira',
 'Indaiatuba',
 'Indiana',
 'Indiaporã',
 'Inúbia Paulista',
 'Ipaussu',
 'Iperó',
 'Ipeúna',
 'Ipiguá',
 'Iporanga',
 'Ipuã',
 'Iracemápolis',
 'Irapuã',
 'Irapuru',
 'Itaberá',
 'Itaí',
 'Itajobi',
 'Itaju',
 'Itanhaém',
 'Itaoca',
 'Itapecerica da Serra',
 'Itapetininga',
 'Itapeva',
 'Itapevi',
 'Itapira',
 'Itapirapuã Paulista',
 'Itápolis',
 'Itaporanga',
 'Itapuí',
 'Itapura',
 'Itaquaquecetuba',
 'Itararé',
 'Itariri',
 'Itatiba',
 'Itatinga',
 'Itirapina',
 'Itirapuã',
 'Itobi',
 'Itu',
 'Itupeva',
 'Ituverava',
 'Jaborandi',
 'Jaboticabal',
 'Jacareí',
 'Jaci',
 'Jacupiranga',
 'Jaguariúna',
 'Jales',
 'Jambeiro',
 'Jandira',
 'Jardinópolis',
 'Jarinu',
 'Jaú',
 'Jeriquara',
 'Joanópolis',
 'João Ramalho',
 'José Bonifácio',
 'Júlio Mesquita',
 'Jumirim',
 'Jundiaí',
 'Junqueirópolis',
 'Juquiá',
 'Juquitiba',
 'Lagoinha',
 'Laranjal Paulista',
 'Lavínia',
 'Lavrinhas',
 'Leme',
 'Lençóis Paulista',
 'Limeira',
 'Lindóia',
 'Lins',
 'Lorena',
 'Lourdes',
 'Louveira',
 'Lucélia',
 'Lucianópolis',
 'Luís Antônio',
 'Luiziânia',
 'Lupércio',
 'Lutécia',
 'Macatuba',
 'Macaubal',
 'Macedônia',
 'Magda',
 'Mairinque',
 'Mairiporã',
 'Manduri',
 'Marabá Paulista',
 'Maracaí',
 'Marapoama',
 'Mariápolis',
 'Marília',
 'Marinópolis',
 'Martinópolis',
 'Matão',
 'Mauá',
 'Mendonça',
 'Meridiano',
 'Mesópolis',
 'Miguelópolis',
 'Mineiros do Tietê',
 'Miracatu',
 'Mira Estrela',
 'Mirandópolis',
 'Mirante do Paranapanema',
 'Mirassol',
 'Mirassolândia',
 'Mococa',
 'Mogi das Cruzes',
 'Mogi Guaçu',
 'Mogi Mirim',
 'Mombuca',
 'Monções',
 'Mongaguá',
 'Monte Alegre do Sul',
 'Monte Alto',
 'Monte Aprazível',
 'Monte Azul Paulista',
 'Monte Castelo',
 'Monteiro Lobato',
 'Monte Mor',
 'Morro Agudo',
 'Morungaba',
 'Motuca',
 'Murutinga do Sul',
 'Nantes',
 'Narandiba',
 'Natividade da Serra',
 'Nazaré Paulista',
 'Neves Paulista',
 'Nhandeara',
 'Nipoã',
 'Nova Aliança',
 'Nova Campina',
 'Nova Canaã Paulista',
 'Nova Castilho',
 'Nova Europa',
 'Nova Granada',
 'Nova Guataporanga',
 'Nova Independência',
 'Novais',
 'Nova Luzitânia',
 'Nova Odessa',
 'Novo Horizonte',
 'Nuporanga',
 'Ocauçu',
 'Óleo',
 'Olímpia',
 'Onda Verde',
 'Oriente',
 'Orindiúva',
 'Orlândia',
 'Osasco',
 'Oscar Bressane',
 'Osvaldo Cruz',
 'Ourinhos',
 'Ouroeste',
 'Ouro Verde',
 'Pacaembu',
 'Palestina',
 'Palmares Paulista',
 "Palmeira d'Oeste",
 'Palmital',
 'Panorama',
 'Paraguaçu Paulista',
 'Paraibuna',
 'Paraíso',
 'Paranapanema',
 'Paranapuã',
 'Parapuã',
 'Pardinho',
 'Pariquera-Açu',
 'Parisi',
 'Patrocínio Paulista',
 'Paulicéia',
 'Paulínia',
 'Paulistânia',
 'Paulo de Faria',
 'Pederneiras',
 'Pedra Bela',
 'Pedranópolis',
 'Pedregulho',
 'Pedreira',
 'Pedrinhas Paulista',
 'Pedro de Toledo',
 'Penápolis',
 'Pereira Barreto',
 'Pereiras',
 'Peruíbe',
 'Piacatu',
 'Piedade',
 'Pilar do Sul',
 'Pindamonhangaba',
 'Pindorama',
 'Pinhalzinho',
 'Piquerobi',
 'Piquete',
 'Piracaia',
 'Piracicaba',
 'Piraju',
 'Pirajuí',
 'Pirangi',
 'Pirapora do Bom Jesus',
 'Pirapozinho',
 'Pirassununga',
 'Piratininga',
 'Pitangueiras',
 'Planalto',
 'Platina',
 'Poá',
 'Poloni',
 'Pompéia',
 'Pongaí',
 'Pontal',
 'Pontalinda',
 'Pontes Gestal',
 'Populina',
 'Porangaba',
 'Porto Feliz',
 'Porto Ferreira',
 'Potim',
 'Potirendaba',
 'Pracinha',
 'Pradópolis',
 'Praia Grande',
 'Pratânia',
 'Presidente Alves',
 'Presidente Bernardes',
 'Presidente Epitácio',
 'Presidente Prudente',
 'Presidente Venceslau',
 'Promissão',
 'Quadra',
 'Quatá',
 'Queiroz',
 'Queluz',
 'Quintana',
 'Rafard',
 'Rancharia',
 'Redenção da Serra',
 'Regente Feijó',
 'Reginópolis',
 'Registro',
 'Restinga',
 'Ribeira',
 'Ribeirão Bonito',
 'Ribeirão Branco',
 'Ribeirão Corrente',
 'Ribeirão do Sul',
 'Ribeirão dos Índios',
 'Ribeirão Grande',
 'Ribeirão Pires',
 'Ribeirão Preto',
 'Riversul',
 'Rifaina',
 'Rincão',
 'Rinópolis',
 'Rio Claro',
 'Rio das Pedras',
 'Rio Grande da Serra',
 'Riolândia',
 'Rosana',
 'Roseira',
 'Rubiácea',
 'Rubinéia',
 'Sabino',
 'Sagres',
 'Sales',
 'Sales Oliveira',
 'Salesópolis',
 'Salmourão',
 'Saltinho',
 'Salto',
 'Salto de Pirapora',
 'Salto Grande',
 'Sandovalina',
 'Santa Adélia',
 'Santa Albertina',
 "Santa Bárbara d'Oeste",
 'Santa Branca',
 "Santa Clara d'Oeste",
 'Santa Cruz da Conceição',
 'Santa Cruz da Esperança',
 'Santa Cruz das Palmeiras',
 'Santa Cruz do Rio Pardo',
 'Santa Ernestina',
 'Santa Fé do Sul',
 'Santa Gertrudes',
 'Santa Isabel',
 'Santa Lúcia',
 'Santa Maria da Serra',
 'Santa Mercedes',
 'Santana da Ponte Pensa',
 'Santana de Parnaíba',
 "Santa Rita d'Oeste",
 'Santa Rita do Passa Quatro',
 'Santa Rosa de Viterbo',
 'Santa Salete',
 'Santo Anastácio',
 'Santo André',
 'Santo Antônio da Alegria',
 'Santo Antônio de Posse',
 'Santo Antônio do Aracanguá',
 'Santo Antônio do Jardim',
 'Santo Antônio do Pinhal',
 'Santo Expedito',
 'Santópolis do Aguapeí',
 'Santos',
 'São Bento do Sapucaí',
 'São Bernardo do Campo',
 'São Caetano do Sul',
 'São Carlos',
 'São Francisco',
 'São João da Boa Vista',
 'São João das Duas Pontes',
 'São João de Iracema',
 "São João do Pau d'Alho",
 'São Joaquim da Barra',
 'São José da Bela Vista',
 'São José do Barreiro',
 'São José do Rio Pardo',
 'São José do Rio Preto',
 'São José dos Campos',
 'São Lourenço da Serra',
 'São Luiz do Paraitinga',
 'São Manuel',
 'São Miguel Arcanjo',
 'São Paulo',
 'São Pedro',
 'São Pedro do Turvo',
 'São Roque',
 'São Sebastião',
 'São Sebastião da Grama',
 'São Simão',
 'São Vicente',
 'Sarapuí',
 'Sarutaiá',
 'Sebastianópolis do Sul',
 'Serra Azul',
 'Serrana',
 'Serra Negra',
 'Sertãozinho',
 'Sete Barras',
 'Severínia',
 'Silveiras',
 'Socorro',
 'Sorocaba',
 'Sud Mennucci',
 'Sumaré',
 'Suzano',
 'Suzanápolis',
 'Tabapuã',
 'Tabatinga',
 'Taboão da Serra',
 'Taciba',
 'Taguaí',
 'Taiaçu',
 'Taiúva',
 'Tambaú',
 'Tanabi',
 'Tapiraí',
 'Tapiratiba',
 'Taquaral',
 'Taquaritinga',
 'Taquarituba',
 'Taquarivaí',
 'Tarabai',
 'Tarumã',
 'Tatuí',
 'Taubaté',
 'Tejupá',
 'Teodoro Sampaio',
 'Terra Roxa',
 'Tietê',
 'Timburi',
 'Torre de Pedra',
 'Torrinha',
 'Trabiju',
 'Tremembé',
 'Três Fronteiras',
 'Tuiuti',
 'Tupã',
 'Tupi Paulista',
 'Turiúba',
 'Turmalina',
 'Ubarana',
 'Ubatuba',
 'Ubirajara',
 'Uchoa',
 'União Paulista',
 'Urânia',
 'Uru',
 'Urupês',
 'Valentim Gentil',
 'Valinhos',
 'Valparaíso',
 'Vargem',
 'Vargem Grande do Sul',
 'Vargem Grande Paulista',
 'Várzea Paulista',
 'Vera Cruz',
 'Vinhedo',
 'Viradouro',
 'Vista Alegre do Alto',
 'Vitória Brasil',
 'Votorantim',
 'Votuporanga',
 'Zacarias',
 'Chavantes',
 'Estiva Gerbi',
 'Adamantina',
 'Adolfo',
 'Aguaí',
 'Águas da Prata',
 'Águas de Lindóia',
 'Águas de Santa Bárbara',
 'Águas de São Pedro',
 'Agudos',
 'Alambari',
 'Alfredo Marcondes',
 'Altair',
 'Altinópolis',
 'Alto Alegre',
 'Alumínio',
 'Álvares Florence',
 'Álvares Machado',
 'Álvaro de Carvalho',
 'Alvinlândia',
 'Americana',
 'Américo Brasiliense',
 'Américo de Campos',
 'Amparo',
 'Analândia',
 'Andradina',
 'Angatuba',
 'Anhembi',
 'Anhumas',
 'Aparecida',
 "Aparecida d'Oeste",
 'Apiaí',
 'Araçariguama',
 'Araçatuba',
 'Araçoiaba da Serra',
 'Aramina',
 'Arandu',
 'Arapeí',
 'Araraquara',
 'Araras',
 'Arco-Íris',
 'Arealva',
 'Areias',
 'Areiópolis',
 'Ariranha',
 'Artur Nogueira',
 'Arujá',
 'Aspásia',
 'Assis',
 'Atibaia',
 'Auriflama',
 'Avaí',
 'Avanhandava',
 'Avaré',
 'Bady Bassitt',
 'Balbinos',
 'Bálsamo',
 'Bananal',
 'Barão de Antonina',
 'Barbosa',
 'Bariri',
 'Barra Bonita',
 'Barra do Chapéu',
 'Barra do Turvo',
 'Barretos',
 'Barrinha',
 'Barueri',
 'Bastos',
 'Batatais',
 'Bauru',
 'Bebedouro',
 'Bento de Abreu',
 'Bernardino de Campos',
 'Bertioga',
 'Bilac',
 'Birigui',
 'Biritiba Mirim',
 'Boa Esperança do Sul',
 'Bocaina',
 'Bofete',
 'Boituva',
 'Bom Jesus dos Perdões',
 'Bom Sucesso de Itararé',
 'Borá',
 'Boracéia',
 'Borborema',
 'Borebi',
 'Botucatu',
 'Bragança Paulista',
 'Braúna',
 'Brejo Alegre',
 'Brodowski',
 'Brotas',
 'Buri',
 'Buritama',
 'Buritizal',
 'Cabrália Paulista',
 'Cabreúva',
 'Caçapava',
 'Cachoeira Paulista',
 'Caconde',
 'Cafelândia',
 'Caiabu',
 'Caieiras',
 'Caiuá',
 'Cajamar',
 'Cajati',
 'Cajobi',
 'Cajuru',
 'Campina do Monte Alegre',
 'Campinas',
 'Campo Limpo Paulista',
 'Campos do Jordão',
 'Campos Novos Paulista',
 'Cananéia',
 'Canas',
 'Cândido Mota',
 'Cândido Rodrigues',
 'Canitar',
 'Capão Bonito',
 'Capela do Alto',
 'Capivari',
 'Caraguatatuba',
 'Carapicuíba',
 'Cardoso',
 'Casa Branca',
 'Cássia dos Coqueiros',
 'Castilho',
 'Catanduva',
 'Catiguá',
 'Cedral',
 'Cerqueira César',
 'Cerquilho',
 'Cesário Lange',
 'Charqueada',
 'Clementina',
 'Colina',
 'Colômbia',
 'Conchal',
 'Conchas',
 'Cordeirópolis',
 'Coroados',
 'Coronel Macedo',
 'Corumbataí',
 'Cosmópolis',
 'Cosmorama',
 'Cotia',
 'Cravinhos',
 'Cristais Paulista',
 'Cruzália',
 'Cruzeiro',
 'Cubatão',
 'Cunha',
 'Descalvado',
 'Diadema',
 'Dirce Reis',
 'Divinolândia',
 'Dobrada',
 'Dois Córregos',
 'Dolcinópolis',
 'Dourado',
 'Dracena',
 'Duartina',
 'Dumont',
 'Echaporã',
 'Eldorado',
 'Elias Fausto',
 'Elisiário',
 'Embaúba',
 'Embu das Artes',
 'Embu-Guaçu',
 'Emilianópolis',
 'Engenheiro Coelho',
 'Espírito Santo do Pinhal',
 'Espírito Santo do Turvo',
 "Estrela d'Oeste",
 'Estrela do Norte',
 'Euclides da Cunha Paulista',
 'Fartura',
 'Fernandópolis',
 'Fernando Prestes',
 'Fernão',
 'Ferraz de Vasconcelos',
 'Flora Rica',
 'Floreal',
 'Flórida Paulista',
 'Florínea',
 'Franca',
 'Francisco Morato',
 'Franco da Rocha',
 'Gabriel Monteiro',
 'Gália',
 'Garça',
 'Gastão Vidigal',
 'Gavião Peixoto',
 'General Salgado',
 'Getulina',
 'Glicério',
 'Guaiçara',
 'Guaimbê',
 'Guaíra',
 'Guapiaçu',
 'Guapiara',
 'Guará',
 'Guaraçaí',
 'Guaraci',
 "Guarani d'Oeste",
 'Guarantã',
 'Guararapes',
 'Guararema',
 'Guaratinguetá',
 'Guareí',
 'Guariba',
 'Guarujá',
 'Guarulhos',
 'Guatapará',
 'Guzolândia',
 'Herculândia',
 'Holambra',
 'Hortolândia',
 'Iacanga',
 'Iacri',
 'Iaras',
 'Ibaté',
 'Ibirá',
 'Ibirarema',
 'Ibitinga',
 'Ibiúna',
 'Icém',
 'Iepê',
 'Igaraçu do Tietê',
 'Igarapava',
 'Igaratá',
 'Iguape',
 'Ilhabela',
 'Ilha Comprida',
 'Ilha Solteira',
 'Indaiatuba',
 'Indiana',
 'Indiaporã',
 'Inúbia Paulista',
 'Ipaussu',
 'Iperó',
 'Ipeúna',
 'Ipiguá',
 'Iporanga',
 'Ipuã',
 'Iracemápolis',
 'Irapuã',
 'Irapuru',
 'Itaberá',
 'Itaí',
 'Itajobi',
 'Itaju',
 'Itanhaém',
 'Itaoca',
 'Itapecerica da Serra',
 'Itapetininga',
 'Itapeva',
 'Itapevi',
 'Itapira',
 'Itapirapuã Paulista',
 'Itápolis',
 'Itaporanga',
 'Itapuí',
 'Itapura',
 'Itaquaquecetuba',
 'Itararé',
 'Itariri',
 'Itatiba',
 'Itatinga',
 'Itirapina',
 'Itirapuã',
 'Itobi',
 'Itu',
 'Itupeva',
 'Ituverava',
 'Jaborandi',
 'Jaboticabal',
 'Jacareí',
 'Jaci',
 'Jacupiranga',
 'Jaguariúna',
 'Jales',
 'Jambeiro',
 'Jandira',
 'Jardinópolis',
 'Jarinu',
 'Jaú',
 'Jeriquara',
 'Joanópolis',
 'João Ramalho',
 'José Bonifácio',
 'Júlio Mesquita',
 'Jumirim',
 'Jundiaí',
 'Junqueirópolis',
 'Juquiá',
 'Juquitiba',
 'Lagoinha',
 'Laranjal Paulista',
 'Lavínia',
 'Lavrinhas',
 'Leme',
 'Lençóis Paulista',
 'Limeira',
 'Lindóia',
 'Lins',
 'Lorena',
 'Lourdes',
 'Louveira',
 'Lucélia',
 'Lucianópolis',
 'Luís Antônio',
 'Luiziânia',
 'Lupércio',
 'Lutécia',
 'Macatuba',
 'Macaubal',
 'Macedônia',
 'Magda',
 'Mairinque',
 'Mairiporã',
 'Manduri',
 'Marabá Paulista',
 'Maracaí',
 'Marapoama',
 'Mariápolis',
 'Marília',
 'Marinópolis',
 'Martinópolis',
 'Matão',
 'Mauá',
 'Mendonça',
 'Meridiano',
 'Mesópolis',
 'Miguelópolis',
 'Mineiros do Tietê',
 'Miracatu',
 'Mira Estrela',
 'Mirandópolis',
 'Mirante do Paranapanema',
 'Mirassol',
 'Mirassolândia',
 'Mococa',
 'Mogi das Cruzes',
 'Mogi Guaçu',
 'Mogi Mirim',
 'Mombuca',
 'Monções',
 'Mongaguá',
 'Monte Alegre do Sul',
 'Monte Alto',
 'Monte Aprazível',
 'Monte Azul Paulista',
 'Monte Castelo',
 'Monteiro Lobato',
 ...]

In [37]:
type(lista_y)

list

In [38]:
df = pd.DataFrame(lista_y, columns=['municipios'])
df

              municipios
0             Adamantina
1                 Adolfo
2                  Aguaí
3         Águas da Prata
4       Águas de Lindóia
...                  ...
374029          Ignorado
374030          Ignorado
374031          Ignorado
374032          Ignorado
374033          Ignorado

[374034 rows x 1 columns]

In [39]:
type(df)

pandas.core.frame.DataFrame

### Excluindo, filtrando e substituindo

#### Exemplos de exclusões

In [40]:
#Linhas especificas
covid_sp_alterado2 = covid_sp_alterado.drop(covid_sp_alterado.index[[1,3]])
covid_sp_alterado2

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
0,1,Adamantina,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",33894,7398,411.99,9,82.268987
2,3,Aguaí,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",35608,5245,474.55,9,75.035297
4,5,Águas de Lindóia,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",18374,3275,60.13,9,305.571262
5,6,Águas de Santa Bárbara,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",5931,1106,404.46,9,14.663996
6,7,Águas de São Pedro,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",3122,764,3.61,9,864.819945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374029,374030,Ignorado,21,9,2021-09-21,1956,-477,"0,00000000000000e+00","-931,428571428571445",7,-1,"0,00000000000000e+00","-0,285714285714286","0,003578732106339468",0,0,0.00,38,NaN
374030,374031,Ignorado,22,9,2021-09-22,1414,-542,"0,00000000000000e+00","-1038,714285714285779",7,0,"0,00000000000000e+00","-0,571428571428571","0,004950495049504951",0,0,0.00,38,NaN
374031,374032,Ignorado,23,9,2021-09-23,962,-452,"0,00000000000000e+00","-348,000000000000000",6,-1,"0,00000000000000e+00","-1,714285714285714","0,006237006237006237",0,0,0.00,38,NaN
374032,374033,Ignorado,24,9,2021-09-24,557,-405,"0,00000000000000e+00","-774,428571428571445",1,-5,"0,00000000000000e+00","-2,428571428571428","0,001795332136445242",0,0,0.00,38,NaN
374033,374034,Ignorado,25,9,2021-09-25,128,-429,"0,00000000000000e+00","-472,142857142857167",0,-1,"0,00000000000000e+00","-2,857142857142857","0,000000000000000000",0,0,0.00,38,NaN

In [41]:
#slice (intervalo)
covid_sp_alterado2 = covid_sp_alterado2.drop(covid_sp_alterado.index[4:7])

covid_sp_alterado2

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
0,1,Adamantina,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",33894,7398,411.99,9,82.268987
2,3,Aguaí,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",35608,5245,474.55,9,75.035297
7,8,Agudos,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",36134,5524,966.71,9,37.378324
8,9,Alambari,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",5779,830,15.96,9,362.092732
9,10,Alfredo Marcondes,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",3927,907,118.92,9,33.022200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374029,374030,Ignorado,21,9,2021-09-21,1956,-477,"0,00000000000000e+00","-931,428571428571445",7,-1,"0,00000000000000e+00","-0,285714285714286","0,003578732106339468",0,0,0.00,38,NaN
374030,374031,Ignorado,22,9,2021-09-22,1414,-542,"0,00000000000000e+00","-1038,714285714285779",7,0,"0,00000000000000e+00","-0,571428571428571","0,004950495049504951",0,0,0.00,38,NaN
374031,374032,Ignorado,23,9,2021-09-23,962,-452,"0,00000000000000e+00","-348,000000000000000",6,-1,"0,00000000000000e+00","-1,714285714285714","0,006237006237006237",0,0,0.00,38,NaN
374032,374033,Ignorado,24,9,2021-09-24,557,-405,"0,00000000000000e+00","-774,428571428571445",1,-5,"0,00000000000000e+00","-2,428571428571428","0,001795332136445242",0,0,0.00,38,NaN
374033,374034,Ignorado,25,9,2021-09-25,128,-429,"0,00000000000000e+00","-472,142857142857167",0,-1,"0,00000000000000e+00","-2,857142857142857","0,000000000000000000",0,0,0.00,38,NaN

In [42]:
covid_sp_alterado2.reset_index(drop=True, inplace=True)
covid_sp_alterado2

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
0,1,Adamantina,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",33894,7398,411.99,9,82.268987
1,3,Aguaí,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",35608,5245,474.55,9,75.035297
2,8,Agudos,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",36134,5524,966.71,9,37.378324
3,9,Alambari,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",5779,830,15.96,9,362.092732
4,10,Alfredo Marcondes,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",3927,907,118.92,9,33.022200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374024,374030,Ignorado,21,9,2021-09-21,1956,-477,"0,00000000000000e+00","-931,428571428571445",7,-1,"0,00000000000000e+00","-0,285714285714286","0,003578732106339468",0,0,0.00,38,NaN
374025,374031,Ignorado,22,9,2021-09-22,1414,-542,"0,00000000000000e+00","-1038,714285714285779",7,0,"0,00000000000000e+00","-0,571428571428571","0,004950495049504951",0,0,0.00,38,NaN
374026,374032,Ignorado,23,9,2021-09-23,962,-452,"0,00000000000000e+00","-348,000000000000000",6,-1,"0,00000000000000e+00","-1,714285714285714","0,006237006237006237",0,0,0.00,38,NaN
374027,374033,Ignorado,24,9,2021-09-24,557,-405,"0,00000000000000e+00","-774,428571428571445",1,-5,"0,00000000000000e+00","-2,428571428571428","0,001795332136445242",0,0,0.00,38,NaN
374028,374034,Ignorado,25,9,2021-09-25,128,-429,"0,00000000000000e+00","-472,142857142857167",0,-1,"0,00000000000000e+00","-2,857142857142857","0,000000000000000000",0,0,0.00,38,NaN

#### Filtrando e Excluindo

In [43]:
ignorado = covid_sp_alterado.loc[covid_sp_alterado.municipio == 'Ignorado']
ignorado

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
373455,373456,Ignorado,25,2,2020-02-25,-1,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",0,0,0.0,9,NaN
373456,373457,Ignorado,26,2,2020-02-26,0,1,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",0,0,0.0,9,NaN
373457,373458,Ignorado,27,2,2020-02-27,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",0,0,0.0,9,NaN
373458,373459,Ignorado,28,2,2020-02-28,-1,-1,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",0,0,0.0,9,NaN
373459,373460,Ignorado,29,2,2020-02-29,0,1,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",0,0,0.0,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374029,374030,Ignorado,21,9,2021-09-21,1956,-477,"0,00000000000000e+00","-931,428571428571445",7,-1,"0,00000000000000e+00","-0,285714285714286","0,003578732106339468",0,0,0.0,38,NaN
374030,374031,Ignorado,22,9,2021-09-22,1414,-542,"0,00000000000000e+00","-1038,714285714285779",7,0,"0,00000000000000e+00","-0,571428571428571","0,004950495049504951",0,0,0.0,38,NaN
374031,374032,Ignorado,23,9,2021-09-23,962,-452,"0,00000000000000e+00","-348,000000000000000",6,-1,"0,00000000000000e+00","-1,714285714285714","0,006237006237006237",0,0,0.0,38,NaN
374032,374033,Ignorado,24,9,2021-09-24,557,-405,"0,00000000000000e+00","-774,428571428571445",1,-5,"0,00000000000000e+00","-2,428571428571428","0,001795332136445242",0,0,0.0,38,NaN
374033,374034,Ignorado,25,9,2021-09-25,128,-429,"0,00000000000000e+00","-472,142857142857167",0,-1,"0,00000000000000e+00","-2,857142857142857","0,000000000000000000",0,0,0.0,38,NaN

In [44]:
ignorado.shape

(579, 19)

In [45]:
# Filtrando os ignorados
covid_sp_alterado = covid_sp_alterado.loc[covid_sp_alterado.municipio != 'Ignorado']
covid_sp_alterado

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
0,1,Adamantina,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",33894,7398,411.99,9,82.268987
1,2,Adolfo,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",3447,761,211.06,9,16.331849
2,3,Aguaí,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",35608,5245,474.55,9,75.035297
3,4,Águas da Prata,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",7797,1729,142.67,9,54.650592
4,5,Águas de Lindóia,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",18374,3275,60.13,9,305.571262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373450,373451,Votorantim,25,9,2021-09-25,11670,1,"9,73928428361597e+03","2,571428571428572",515,0,"4,29797035652290e+02","0,142857142857143","0,044130248500428446",119824,16378,183.52,38,652.920663
373451,373452,Votuporanga,25,9,2021-09-25,16147,9,"1,75969921534438e+04","7,571428571428571",453,0,"4,93679163034002e+02","0,142857142857143","0,028054747011828824",91760,17203,42.07,38,2181.126694
373452,373453,Zacarias,25,9,2021-09-25,268,0,"1,04687500000000e+04","0,000000000000000",10,0,"3,90625000000000e+02","0,000000000000000","0,037313432835820892",2560,481,319.06,38,8.023569
373453,373454,Chavantes,25,9,2021-09-25,1388,0,"1,13556410046633e+04","0,142857142857143",48,0,"3,92702282582018e+02","0,000000000000000","0,034582132564841501",12223,2098,188.73,38,64.764478
373454,373455,Estiva Gerbi,25,9,2021-09-25,811,0,"7,32015524866865e+03","0,000000000000000",33,0,"2,97860817763336e+02","0,000000000000000","0,040690505548705305",11079,1606,74.14,38,149.433504

In [46]:
guarulhos = covid_sp_alterado.loc[covid_sp_alterado.municipio == 'Guarulhos']
guarulhos

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
212,213,Guarulhos,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
857,858,Guarulhos,26,2,2020-02-26,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
1502,1503,Guarulhos,27,2,2020-02-27,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
2147,2148,Guarulhos,28,2,2020-02-28,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
2792,2793,Guarulhos,29,2,2020-02-29,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370442,370443,Guarulhos,21,9,2021-09-21,63334,28,"4,68698081441602e+03","102,571428571428569",4857,3,"3,59438308264417e+02","2,571428571428572","0,076688666435090161",1351275,162662,318.68,38,4240.225304
371087,371088,Guarulhos,22,9,2021-09-22,63351,17,"4,68823888549703e+03","105,000000000000000",4861,4,"3,59734324989362e+02","2,428571428571428","0,076731227604931257",1351275,162662,318.68,38,4240.225304
371732,371733,Guarulhos,23,9,2021-09-23,63368,17,"4,68949695657805e+03","107,285714285714292",4862,1,"3,59808329170598e+02","2,000000000000000","0,076726423431384930",1351275,162662,318.68,38,4240.225304
372377,372378,Guarulhos,24,9,2021-09-24,63387,19,"4,69090303602154e+03","61,285714285714285",4863,1,"3,59882333351834e+02","2,142857142857143","0,076719201098016943",1351275,162662,318.68,38,4240.225304
373022,373023,Guarulhos,25,9,2021-09-25,63398,11,"4,69171708201513e+03","14,142857142857142",4866,3,"3,60104345895543e+02","1,714285714285714","0,076753209880437864",1351275,162662,318.68,38,4240.225304

In [47]:
guarulhos.drop(columns=['data', 'municipio'], inplace=True)

C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\3071124585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  guarulhos.drop(columns=['data', 'municipio'], inplace=True)

In [48]:
guarulhos.head(10)

,indice,dia,mes,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
212,213,25,2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
857,858,26,2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
1502,1503,27,2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
2147,2148,28,2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
2792,2793,29,2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
3437,3438,1,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,10,4240.225304
4082,4083,2,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,10,4240.225304
4727,4728,3,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,10,4240.225304
5372,5373,4,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,10,4240.225304
6017,6018,5,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,10,4240.225304

In [49]:
guarulhos['semana_epidem'] = guarulhos['semana_epidem'].replace({9:'nove', 10:'dez'})

C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\1287259310.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  guarulhos['semana_epidem'] = guarulhos['semana_epidem'].replace({9:'nove', 10:'dez'})

In [50]:
guarulhos['casos_pc'] = guarulhos['casos_pc'].apply(lambda x: x.replace(',','.'))

C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\645409009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  guarulhos['casos_pc'] = guarulhos['casos_pc'].apply(lambda x: x.replace(',','.'))

#### Criando coluna com datas

In [51]:
import datetime

In [52]:
data = np.array('2020-02-25', dtype=np.datetime64())
data

array('2020-02-25', dtype='datetime64[D]')

In [53]:
data = data + np.arange(579)
data

array(['2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
       '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
       '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07',
       '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11',
       '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15',
       '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19',
       '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23',
       '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
       '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31',
       '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
       '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
       '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
       '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16',
       '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20',
       '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24',
       '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28',
       '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02',
       '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06',
       '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10',
       '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14',
       '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18',
       '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22',
       '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26',
       '2020-05-27', '2020-05-28', '2020-05-29', '2020-05-30',
       '2020-05-31', '2020-06-01', '2020-06-02', '2020-06-03',
       '2020-06-04', '2020-06-05', '2020-06-06', '2020-06-07',
       '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11',
       '2020-06-12', '2020-06-13', '2020-06-14', '2020-06-15',
       '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19',
       '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23',
       '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27',
       '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01',
       '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05',
       '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09',
       '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13',
       '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17',
       '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21',
       '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25',
       '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29',
       '2020-07-30', '2020-07-31', '2020-08-01', '2020-08-02',
       '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06',
       '2020-08-07', '2020-08-08', '2020-08-09', '2020-08-10',
       '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14',
       '2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18',
       '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22',
       '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26',
       '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30',
       '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03',
       '2020-09-04', '2020-09-05', '2020-09-06', '2020-09-07',
       '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11',
       '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15',
       '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-19',
       '2020-09-20', '2020-09-21', '2020-09-22', '2020-09-23',
       '2020-09-24', '2020-09-25', '2020-09-26', '2020-09-27',
       '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
       '2020-10-02', '2020-10-03', '2020-10-04', '2020-10-05',
       '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09',
       '2020-10-10', '2020-10-11', '2020-10-12', '2020-10-13',
       '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-17',
       '2020-10-18', '2020-10-19', '2020-10-20', '2020-10-21',
       '2020-10-22', '2020-10-23', '2020-10-24', '2020-10-25',
       '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29',
       '2020-10-30', '2020-10-31', '2020-11-01', '2020-11-02',
       '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06',
       '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10',
       '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-14',
       '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18',
       '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22',
       '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-26',
       '2020-11-27', '2020-11-28', '2020-11-29', '2020-11-30',
       '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04',
       '2020-12-05', '2020-12-06', '2020-12-07', '2020-12-08',
       '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-12',
       '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16',
       '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-20',
       '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-24',
       '2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28',
       '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-01',
       '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05',
       '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09',
       '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
       '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
       '2021-01-18', '2021-01-19', '2021-01-20', '2021-01-21',
       '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25',
       '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29',
       '2021-01-30', '2021-01-31', '2021-02-01', '2021-02-02',
       '2021-02-03', '2021-02-04', '2021-02-05', '2021-02-06',
       '2021-02-07', '2021-02-08', '2021-02-09', '2021-02-10',
       '2021-02-11', '2021-02-12', '2021-02-13', '2021-02-14',
       '2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18',
       '2021-02-19', '2021-02-20', '2021-02-21', '2021-02-22',
       '2021-02-23', '2021-02-24', '2021-02-25', '2021-02-26',
       '2021-02-27', '2021-02-28', '2021-03-01', '2021-03-02',
       '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-06',
       '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10',
       '2021-03-11', '2021-03-12', '2021-03-13', '2021-03-14',
       '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18',
       '2021-03-19', '2021-03-20', '2021-03-21', '2021-03-22',
       '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
       '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
       '2021-03-31', '2021-04-01', '2021-04-02', '2021-04-03',
       '2021-04-04', '2021-04-05', '2021-04-06', '2021-04-07',
       '2021-04-08', '2021-04-09', '2021-04-10', '2021-04-11',
       '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15',
       '2021-04-16', '2021-04-17', '2021-04-18', '2021-04-19',
       '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-23',
       '2021-04-24', '2021-04-25', '2021-04-26', '2021-04-27',
       '2021-04-28', '2021-04-29', '2021-04-30', '2021-05-01',
       '2021-05-02', '2021-05-03', '2021-05-04', '2021-05-05',
       '2021-05-06', '2021-05-07', '2021-05-08', '2021-05-09',
       '2021-05-10', '2021-05-11', '2021-05-12', '2021-05-13',
       '2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
       '2021-05-18', '2021-05-19', '2021-05-20', '2021-05-21',
       '2021-05-22', '2021-05-23', '2021-05-24', '2021-05-25',
       '2021-05-26', '2021-05-27', '2021-05-28', '2021-05-29',
       '2021-05-30', '2021-05-31', '2021-06-01', '2021-06-02',
       '2021-06-03', '2021-06-04', '2021-06-05', '2021-06-06',
       '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
       '2021-06-11', '2021-06-12', '2021-06-13', '2021-06-14',
       '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18',
       '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22',
       '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26',
       '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30',
       '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
       '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08',
       '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12',
       '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16',
       '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20',
       '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24',
       '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28',
       '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01',
       '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05',
       '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09',
       '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13',
       '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17',
       '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21',
       '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25',
       '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29',
       '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02',
       '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06',
       '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10',
       '2021-09-11', '2021-09-12', '2021-09-13', '2021-09-14',
       '2021-09-15', '2021-09-16', '2021-09-17', '2021-09-18',
       '2021-09-19', '2021-09-20', '2021-09-21', '2021-09-22',
       '2021-09-23', '2021-09-24', '2021-09-25'], dtype='datetime64[D]')

In [54]:
data = pd.DataFrame(data)
data

             0
0   2020-02-25
1   2020-02-26
2   2020-02-27
3   2020-02-28
4   2020-02-29
..         ...
574 2021-09-21
575 2021-09-22
576 2021-09-23
577 2021-09-24
578 2021-09-25

[579 rows x 1 columns]

In [55]:
data.columns = ['data']
data.head()

        data
0 2020-02-25
1 2020-02-26
2 2020-02-27
3 2020-02-28
4 2020-02-29

In [56]:
guarulhos2 = pd.concat([data,guarulhos], axis=1)
guarulhos2.head(5)

,data,indice,dia,mes,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
0,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# Reordenar índices
guarulhos = guarulhos.reset_index(drop=True)
guarulhos

,indice,dia,mes,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
0,213,25,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
1,858,26,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
2,1503,27,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
3,2148,28,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
4,2793,29,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,370443,21,9,63334,28,4.68698081441602e+03,"102,571428571428569",4857,3,"3,59438308264417e+02","2,571428571428572","0,076688666435090161",1351275,162662,318.68,38,4240.225304
575,371088,22,9,63351,17,4.68823888549703e+03,"105,000000000000000",4861,4,"3,59734324989362e+02","2,428571428571428","0,076731227604931257",1351275,162662,318.68,38,4240.225304
576,371733,23,9,63368,17,4.68949695657805e+03,"107,285714285714292",4862,1,"3,59808329170598e+02","2,000000000000000","0,076726423431384930",1351275,162662,318.68,38,4240.225304
577,372378,24,9,63387,19,4.69090303602154e+03,"61,285714285714285",4863,1,"3,59882333351834e+02","2,142857142857143","0,076719201098016943",1351275,162662,318.68,38,4240.225304
578,373023,25,9,63398,11,4.69171708201513e+03,"14,142857142857142",4866,3,"3,60104345895543e+02","1,714285714285714","0,076753209880437864",1351275,162662,318.68,38,4240.225304

In [58]:
guarulhos2 = pd.concat([data,guarulhos], axis=1)
guarulhos2.head(5)

,data,indice,dia,mes,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
0,2020-02-25,213,25,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
1,2020-02-26,858,26,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
2,2020-02-27,1503,27,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
3,2020-02-28,2148,28,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
4,2020-02-29,2793,29,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304

In [59]:
guarulhos2.shape

(579, 18)

#### Valores Missing

In [60]:
covid_sp_alterado.isnull().sum()

indice            0
municipio         0
dia               0
mes               0
data              0
casos             0
casos_novos       0
casos_pc          0
casos_mm7d        0
obitos            0
obitos_novos      0
obitos_pc         0
obitos_mm7d       0
letalidade        0
pop               0
pop_60            0
area              0
semana_epidem     0
densidade_demo    0
dtype: int64

In [61]:
covid_sp_alterado['casos'].isnull().sum()

np.int64(0)

In [62]:
#DF Original para exemplo
covid_sp.isnull().sum()

municipio          0
codigo_ibge        0
dia                0
mes                0
data               0
casos              0
casos_novos        0
casos_pc           0
casos_mm7d         0
obitos             0
obitos_novos       0
obitos_pc          0
obitos_mm7d        0
letalidade         0
nome_ra          579
cod_ra             0
nome_drs         579
cod_drs            0
pop                0
pop_60             0
area               0
rotulo_mapa      579
codigo_mapa      579
latitude           0
longitude          0
semana_epidem      0
dtype: int64

In [63]:
#nome_ra / nome_drs/ rotulo_mapa/ codigo_mapa

#Excluir todos os valores missing
covid_sp2 = covid_sp.dropna()

In [66]:
covid_sp2.isnull().sum()

municipio        0
codigo_ibge      0
dia              0
mes              0
data             0
casos            0
casos_novos      0
casos_pc         0
casos_mm7d       0
obitos           0
obitos_novos     0
obitos_pc        0
obitos_mm7d      0
letalidade       0
nome_ra          0
cod_ra           0
nome_drs         0
cod_drs          0
pop              0
pop_60           0
area             0
rotulo_mapa      0
codigo_mapa      0
latitude         0
longitude        0
semana_epidem    0
dtype: int64

In [67]:
# Preencher com a mediana
covid_sp['obitos_novos'].fillna(covid_sp['obitos_novos'].median(),inplace=True)

C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\2496089841.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  covid_sp['obitos_novos'].fillna(covid_sp['obitos_novos'].median(),inplace=True)

In [69]:
# Preencher com a media
covid_sp['obitos_novos'].fillna(covid_sp['obitos_novos'].mean(),inplace=True)

C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\2240841035.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  covid_sp['obitos_novos'].fillna(covid_sp['obitos_novos'].mean(),inplace=True)

In [70]:
# Preencher com qlq valor
covid_sp['obitos_novos'].fillna(5,inplace=True)

C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\4132123510.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  covid_sp['obitos_novos'].fillna(5,inplace=True)

#### Classificação e alteração de tipagem

In [76]:
covid_sp_alterado.dtypes

indice              int64
municipio          object
dia                 int64
mes                 int64
data               object
casos               int64
casos_novos         int64
casos_pc          float64
casos_mm7d         object
obitos              int64
obitos_novos        int64
obitos_pc          object
obitos_mm7d        object
letalidade         object
pop                 int64
pop_60              int64
area              float64
semana_epidem       int64
densidade_demo    float64
dtype: object

In [74]:
covid_sp_alterado['casos_pc'] = covid_sp_alterado['casos_pc'].apply(lambda x: x.replace(',','.'))
covid_sp_alterado.head(3)

C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\148151340.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_sp_alterado['casos_pc'] = covid_sp_alterado['casos_pc'].apply(lambda x: x.replace(',','.'))

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
0,1,Adamantina,25,2,2020-02-25,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",33894,7398,411.99,9,82.268987
1,2,Adolfo,25,2,2020-02-25,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",3447,761,211.06,9,16.331849
2,3,Aguaí,25,2,2020-02-25,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",35608,5245,474.55,9,75.035297

In [75]:
covid_sp_alterado['casos_pc'] = covid_sp_alterado['casos_pc'].astype(float)
covid_sp_alterado

C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\3958724411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_sp_alterado['casos_pc'] = covid_sp_alterado['casos_pc'].astype(float)

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
0,1,Adamantina,25,2,2020-02-25,0,0,0.000000,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",33894,7398,411.99,9,82.268987
1,2,Adolfo,25,2,2020-02-25,0,0,0.000000,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",3447,761,211.06,9,16.331849
2,3,Aguaí,25,2,2020-02-25,0,0,0.000000,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",35608,5245,474.55,9,75.035297
3,4,Águas da Prata,25,2,2020-02-25,0,0,0.000000,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",7797,1729,142.67,9,54.650592
4,5,Águas de Lindóia,25,2,2020-02-25,0,0,0.000000,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",18374,3275,60.13,9,305.571262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373450,373451,Votorantim,25,9,2021-09-25,11670,1,9739.284284,"2,571428571428572",515,0,"4,29797035652290e+02","0,142857142857143","0,044130248500428446",119824,16378,183.52,38,652.920663
373451,373452,Votuporanga,25,9,2021-09-25,16147,9,17596.992153,"7,571428571428571",453,0,"4,93679163034002e+02","0,142857142857143","0,028054747011828824",91760,17203,42.07,38,2181.126694
373452,373453,Zacarias,25,9,2021-09-25,268,0,10468.750000,"0,000000000000000",10,0,"3,90625000000000e+02","0,000000000000000","0,037313432835820892",2560,481,319.06,38,8.023569
373453,373454,Chavantes,25,9,2021-09-25,1388,0,11355.641005,"0,142857142857143",48,0,"3,92702282582018e+02","0,000000000000000","0,034582132564841501",12223,2098,188.73,38,64.764478
373454,373455,Estiva Gerbi,25,9,2021-09-25,811,0,7320.155249,"0,000000000000000",33,0,"2,97860817763336e+02","0,000000000000000","0,040690505548705305",11079,1606,74.14,38,149.433504

In [77]:
covid_sp_alterado['casos_mm7d'] = covid_sp_alterado['casos_mm7d'].apply(lambda x: x.replace(',','.'))
covid_sp_alterado['obitos_pc'] = covid_sp_alterado['obitos_pc'].apply(lambda x: x.replace(',','.'))
covid_sp_alterado['obitos_mm7d'] = covid_sp_alterado['obitos_mm7d'].apply(lambda x: x.replace(',','.'))
covid_sp_alterado['letalidade'] = covid_sp_alterado['letalidade'].apply(lambda x: x.replace(',','.'))

covid_sp_alterado.head(5)

C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\2790484186.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_sp_alterado['casos_mm7d'] = covid_sp_alterado['casos_mm7d'].apply(lambda x: x.replace(',','.'))
C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\2790484186.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_sp_alterado['obitos_pc'] = covid_sp_alterado['obitos_pc'].apply(lambda x: x.replace(',','.'))
C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\2790484186.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_sp_alterado['obitos_mm7d'] = covid_sp_alterado['obitos_mm7d'].apply(lambda x: x.replace(',','.'))
C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\2790484186.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_sp_alterado['letalidade'] = covid_sp_alterado['letalidade'].apply(lambda x: x.replace(',','.'))

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade_demo
0,1,Adamantina,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,0,0.00000000000000e+00,0.000000000000000,0.000000000000000000,33894,7398,411.99,9,82.268987
1,2,Adolfo,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,0,0.00000000000000e+00,0.000000000000000,0.000000000000000000,3447,761,211.06,9,16.331849
2,3,Aguaí,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,0,0.00000000000000e+00,0.000000000000000,0.000000000000000000,35608,5245,474.55,9,75.035297
3,4,Águas da Prata,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,0,0.00000000000000e+00,0.000000000000000,0.000000000000000000,7797,1729,142.67,9,54.650592
4,5,Águas de Lindóia,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,0,0.00000000000000e+00,0.000000000000000,0.000000000000000000,18374,3275,60.13,9,305.571262

In [78]:
covid_sp_alterado['casos_mm7d'] = covid_sp_alterado['casos_mm7d'].astype(float)
covid_sp_alterado['obitos_pc'] = covid_sp_alterado['obitos_pc'].astype(float)
covid_sp_alterado['obitos_mm7d'] = covid_sp_alterado['obitos_mm7d'].astype(float)
covid_sp_alterado['letalidade'] = covid_sp_alterado['letalidade'].astype(float)

C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\693393744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_sp_alterado['casos_mm7d'] = covid_sp_alterado['casos_mm7d'].astype(float)
C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\693393744.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_sp_alterado['obitos_pc'] = covid_sp_alterado['obitos_pc'].astype(float)
C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\693393744.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_sp_alterado['obitos_mm7d'] = covid_sp_alterado['obitos_mm7d'].astype(float)
C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\693393744.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_sp_alterado['letalidade'] = covid_sp_alterado['letalidade'].astype(float)

In [84]:
covid_sp_alterado.dtypes

indice                     int64
municipio                 object
dia                        int64
mes                        int64
data              datetime64[ns]
casos                      int64
casos_novos                int64
casos_pc                 float64
casos_mm7d               float64
obitos                     int64
obitos_novos               int64
obitos_pc                float64
obitos_mm7d              float64
letalidade               float64
pop                        int64
pop_60                     int64
area                     float64
semana_epidem              int64
densidade_demo           float64
dtype: object

In [83]:
covid_sp_alterado['data'] = covid_sp_alterado['data'].astype('datetime64[ns]')

C:\Users\ra_fa\AppData\Local\Temp\ipykernel_21968\3090041892.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid_sp_alterado['data'] = covid_sp_alterado['data'].astype('datetime64[ns]')

## **Salvando e exportando os dados**

In [86]:
covid_sp_alterado.to_csv('dataset/covid_sp_tratado.csv', sep=';', encoding='utf-8', index=False)